<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CyberCyld- A Social Media Security Plateform</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
 <!--slider-->
 
  <!-- Favicons -->
  <link href="" rel="icon">
  <link href="" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="./../public/assetss/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="./../public/assetss/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="./../public/assetss/vendor/aos/aos.css" rel="stylesheet">
  <link href="./../public/assetss/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="./../public/assetss/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Variables CSS Files. Uncomment your preferred color scheme -->
  <link href="./../public/assetss/css/variables.css" rel="stylesheet">
  <!-- <link href="assets/css/variables-blue.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-green.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-orange.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-purple.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-red.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-pink.css" rel="stylesheet"> -->

  <!-- Template Main CSS File -->
  <link href="./../public/assetss/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: HeroBiz - v2.3.1
  * Template URL: https://bootstrapmade.com/herobiz-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
 
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top" data-scrollto-offset="0" style="background-color:black;">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="../public/logo2.png" alt="CyberCyld-Logo" style="margin-right:30px;"> 
        {{!-- <h4 style="color:darkgoldenrod;"> <small>Social Media Security Plateform</small><span>.</span></h4> --}}
      </a>

      <nav id="navbar" class="navbar">
        <ul>

          {{!-- <li class="dropdown" ><a href="/"><span style="color:white;">Home</span></a>
          </li> --}}

          {{!-- <li><a class="nav-link scrollto" href="/" style="color:white;">Home</a></li> --}}
          <li><a class="nav-link scrollto" href="/"style="color:darkgoldenrod;"><b>Home</b></a></li>
       <li class="dropdown"><a href="#pricing"><span style="color:darkgoldenrod;"><b>Cyber Protection Plans</b></span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li style="color:darkgoldenrod;"><a href="/#pricing">FREE Cyber Protection Plan - Girls Only</a></li>
              <li style="color:darkgoldenrod;"><a href="/#pricing">Personal Cyber Protection Plan</a></li>
              <li><a href="#pricing" style="color:darkgoldenrod;">Family Cyber Protection Plan</a></li>
              <li><a href="#pricing" style="color:darkgoldenrod;">Bussiness Cyber Protection Plan</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="/community"style="color:darkgoldenrod;"><b>Join Our Cyber Community</b></a></li>

       {{!-- <li class="dropdown"><a href="#"><span style="color:white;">Additional Resources</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li style="color:white;"><a href="/contacts">Contacts</a></li>
              <li><a href="/careers" style="color:white;">Careers</a></li>
            </ul>
          </li> --}}
          </ul>
        <i class="bi bi-list mobile-nav-toggle d-none"></i>
      </nav><!-- .navbar -->

      <a class="scrollto btn herobiz-bootstrap-business-template" href="/login" style="color:darkgoldenrod;"><b>Login</b></a>

    </div>
  </header>
  <!-- End Header -->



  
  <main id="main">



    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row ">

          <div class="col-lg-12">

            <div class="row gy-4 posts-list">

              <div class="col-lg-12">
                <article class="d-flex flex-column">
                <div class="content">

                <h4><b>Attention all cyber warriors!</b></h4>
                <br> </br>
                    <h6 style="color:black"><b>Are you ready to join the most innovative and exciting Discord cyber community on the internet? If so, then this is the message for you!</b> </h6>
                            
<br> </br>

<h6 style="color:black">We're thrilled to announce the launch of our new Discord cyber community, designed to help people of all skill levels learn about and protect themselves from the latest cybersecurity threats.</h6>

<br> </br>


<h6 style="color:black">Whether you're a seasoned cyber pro or just starting out, our community has something for everyone. We offer a variety of resources and activities, including:</h6>

  <li>Educational workshops and webinars on topics such as malware analysis, ethical hacking, and incident response</li>
  <li>Peer support groups and mentorship programs</li>
  <li>Job shadowing and internship opportunities with leading cybersecurity companies</li>
  <li>A network of experienced cyber professionals who are available to answer questions and provide guidance</li>


<br> </br>
<h6 style="color:black">And that's just the beginning! We're constantly innovating and adding new features to our community, so you can always be sure to learn and grow.</h6>

<br> </br>

<h6 style="color:black">Here are just a few of the ways our Discord cyber community is innovative:</h6>
  <li>We offer regular real-world cyber issues and challenges to help members test their skills and learn new things.</li>
  <li>We use a variety of interactive and engaging learning methods and real-world case studies.</li>
  <li>We have a dedicated channel for members to share their own research and findings.</li>
  <li>We have a strong focus on collaboration and knowledge sharing, and we are committed to creating a community where everyone feels comfortable asking questions and giving help.</li>


 <br> </br>               
<h6 style="color:black">If you're passionate about cybersecurity and want to learn from the best, then our Discord cyber community is the place for you.</h6>



<h6 style="color:black">We can't wait to have you!</h6>
<br> </br>
<br> </br>
                <h4><b>Community Mission</b></h4>

<!--
                       <h6 style="color:black"> <b> We would like to crowd source individuals who come together to work as a team to help complete a  worthwhile task. We understand and appreciate that everyone is different and has different opinions, values and preferences. However, this is not the space to discuss such matters. Instead, this is a place where open source enthusiasts can learn from each other while helping to solve cyber issues.</b> </h6>
<br> </br>
                      <h6 style="color:black"> <b> CyberCyld Community is a professional group with zero interest in anything but OSINT and Cyber Security.
        </h6>
        <br> </br>
                      <h6 style="color:black"> <b> CyberCyld is dedicated to providing a constructive and professional operating environment for open source intelligence gathering. we hold ourselves to the same professionalism that you would expect from a doctor or fireman. Our efforts impact the lives of real people.</b> </h6>
<br> </br>
   -->                   
   <h6 style="color:black">Cybersecurity is not just a technical issue. It is a human issue. It is about protecting our privacy, our safety.</h6>
<br> </br>
<h6 style="color:black">That is why we are building this community. We want to create a space where people from all backgrounds can come together to learn about cybersecurity, share their experiences, and support each other.</h6>
<br> </br>
<h6 style="color:black">We are committed to building a community that is inclusive, welcoming, and supportive. We believe that everyone has something to offer, and that we can all learn from each other.</h6>

<br> </br>
   <h6 style="color:black"><b> CyberCyld Community is dedicated to protect all Girls from Cyber Bullying, Cyber Stalking, Intimidating or Threatening Email, Cyber Sexting, and Sextortion with our FREE cyber protection plan.</b></h6>

<br> </br>

                <h4><b>Contact Us</b></h4>
                <p>If you have any questions about our Cyber Community, please contact us:</p>
                <ul>
                <li>By email: community@cybercyld.com</li>
                </ul>
                </div>

                </article>
              </div><!-- End post list item -->

              </div><!-- End post list item -->
            </div><!-- End blog posts list -->
          </div>
        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->

  <main id="main">
<section id="hero" class="hero carousel  carousel-fade" data-bs-ride="carousel" data-bs-interval="500" style="background-color:white;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="row justify-content-center gy-6">
            <div class="col-lg-9 text-center">
<a href="https://discord.gg/dcThCCqRvW" class=" scrollto btn btn-danger" ><strong>Join Our Discord Cyber Community and Help Others</strong></a>
            </div>
          </div>
        </div>
      </div><!-- End Carousel Item -->
</section><!-- End Hero Section -->


<!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h4>CyberCyld- by AppTwig Pvt. Ltd. </h4>
              <p>
                D-322, ITTINA ABHA, Banglore-560037<br><br>
                <strong>Email:</strong> alert@cybercyld.com<br>
              </p>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="/terms-of-use">Terms of service</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/policy">Privacy policy</a></li>
              <!-- <li><i class="bi bi-chevron-right"></i> <a href="/careers">Careers</a></li> -->
              <li><i class="bi bi-chevron-right"></i> <a href="/contacts">Contact us</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> Cyber Expert Help </li>
              <li><i class="bi bi-chevron-right"></i> Online Safety and Security </li>
              <li><i class="bi bi-chevron-right"></i> Account Monitoring and Notification </li>
              <li><i class="bi bi-chevron-right"></i> Cyber Fraud Protection </li>

            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="footer-legal text-center">
      <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">

        <div class="d-flex flex-column align-items-center align-items-lg-start">
          <div class="copyright">
            © Copyright <strong><span>Apptwig Pvt. Ltd. </span></strong> All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/herobiz-bootstrap-business-template/ -->
            Designed by <a href="https://cybercyld.com/">CyberCyld</a>
          </div>
        </div>

        <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
          <a href="https://twitter.com/home" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="https://www.facebook.com/profile.php?id=100088078479457" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/cybercyld/" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="https://www.youtube.com/channel/UCI4-0jfOVGoMfY9Ub18NcBA" class="YouTube"><i class="bi bi-youtube"></i></a>
          <a href="https://www.linkedin.com/in/cyber-cyld-4b68b0257/" class="LinkedIn"><i class="bi bi-linkedin"></i></a>
        </div>


      </div>
    </div>

  </footer>
  
  
  <!-- End Footer -->

  
  
  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  



  <!-- Vendor JS Files -->
  <script src="./../public/assetss/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="./../public/assetss/vendor/aos/aos.js"></script>
  <script src="./../public/assetss/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="./../public/assetss/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="./../public/assetss/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="./../public/assetss/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="./../public/assetss/js/main.js"></script>
<script src="//code.tidio.co/ccn0ykidaz9jq0lfzbkfiv7pzvliefnk.js" async></script>
</body>

</html>