<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CyberCyld- A Cyber Security Plateform</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
 <!--slider-->
 
  <!-- Favicons -->
  <link href="" rel="icon">
  <link href="" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="./../public/assetss/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="./../public/assetss/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="./../public/assetss/vendor/aos/aos.css" rel="stylesheet">
  <link href="./../public/assetss/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="./../public/assetss/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Variables CSS Files. Uncomment your preferred color scheme -->
  <link href="./../public/assetss/css/variables.css" rel="stylesheet">
  <!-- <link href="assets/css/variables-blue.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-green.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-orange.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-purple.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-red.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-pink.css" rel="stylesheet"> -->

  <!-- Template Main CSS File -->
  <link href="./../public/assetss/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: HeroBiz - v2.3.1
  * Template URL: https://bootstrapmade.com/herobiz-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
 
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top" data-scrollto-offset="0" style="background-color:black;">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="../public/logo2.png" alt="CyberCyld-Logo" style="margin-right:30px;"> 
        {{!-- <h4 style="color:darkgoldenrod;"> <small>Social Media Security Plateform</small><span>.</span></h4> --}}
      </a>

      <nav id="navbar" class="navbar">
        <ul>

          {{!-- <li class="dropdown" ><a href="/"><span style="color:white;">Home</span></a>
          </li> --}}

          {{!-- <li><a class="nav-link scrollto" href="/" style="color:white;">Home</a></li> --}}
          <li><a class="nav-link scrollto" href="/"style="color:darkgoldenrod;"><b>Home</b></a></li>
       <li class="dropdown"><a href="#pricing"><span style="color:darkgoldenrod;"><b>Cyber Protection Plans</b></span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li style="color:darkgoldenrod;"><a href="/#pricing">FREE Cyber Protection Plan - Girls Only</a></li>
              <li style="color:darkgoldenrod;"><a href="/#pricing">Personal Cyber Protection Plan</a></li>
              <li><a href="#pricing" style="color:darkgoldenrod;">Family Cyber Protection Plan</a></li>
              <li><a href="#pricing" style="color:darkgoldenrod;">Bussiness Cyber Protection Plan</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="/community"style="color:darkgoldenrod;"><b>Join Our CyberWarriors Community</b></a></li>

       {{!-- <li class="dropdown"><a href="#"><span style="color:white;">Additional Resources</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li style="color:white;"><a href="/contacts">Contacts</a></li>
              <li><a href="/careers" style="color:white;">Careers</a></li>
            </ul>
          </li> --}}
          </ul>
        <i class="bi bi-list mobile-nav-toggle d-none"></i>
      </nav><!-- .navbar -->

      <a class="scrollto btn herobiz-bootstrap-business-template" href="/login" style="color:darkgoldenrod;"><b>Login</b></a>

    </div>
  </header>
  <!-- End Header -->
  

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h4><b>Terms Of Use</b></h4>

        </div>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row ">

          <div class="col-lg-12">

            <div class="row gy-4 posts-list">

              <div class="col-lg-12">
                <article class="d-flex flex-column">
                <div class="content">
                <h3>1. Introduction</h3>
                <p>1.1 These terms and conditions shall govern your use of our website.<br>
                1.2 By using our website, you accept these terms and conditions in full; accordingly, if you disagree with these terms and conditions or any part of these terms and conditions, you must not use our website.<br>
                1.3 If you register with our website, submit any material to our website or use any of our website services, we will ask you to expressly agree to these terms and conditions.<br>
                1.4 You must be at least 16 years of age to use our website; by using our website or agreeing to these terms and conditions, you warrant and represent to us that you are at least 16 years of age.</p>
                <p>1.5 We will help you as best as we can with any issues you might have. We cannot guarantee that we are able to fully sort all the problems you disclose to us.</p>
                <h3>2. Copyright Notice</h3>
                <p>2.1 Copyright (c) 2022-2023 CyberCyld.com by AppTwig Pvt. Ltd.<br>
                2.2 Subject to the express provisions of these terms and conditions:<br>
                (a) we, together with our licensors, own and control all the copyright and other intellectual property rights in our website and the material on our website; and<br>
                (b) all the copyright and other intellectual property rights in our website and the material on our website are reserved.</p>
                <h3>3. Permission To Use Website</h3>
                <p>3.1 You may:<br>
                (a) view pages from our website in a web browser;<br>
                (b) download pages from our website for caching in a web browser;<br>
                (c) print pages from our website for your own personal and non-commercial use, providing that such printing is not systematic or excessive;<br>
                (d) stream audio and video files from our website using the media player on our website; and<br>
                (e) use our website services by means of a web browser,<br>
                subject to the other provisions of these terms and conditions.<br>
                3.2 Except as expressly permitted by Section 3.1 or the other provisions of these terms and conditions, you must not download any material from our website or save any such material to your computer.<br>
                3.3 You may only use our website for your own personal and business purposes; you must not use our website for any other purposes.<br>
                3.4 Except as expressly permitted by these terms and conditions, you must not edit or otherwise modify any material on our website.<br>
                3.5 Unless you own or control the relevant rights in the material, you must not:<br>
                (a) republish material from our website (including republication on another website);<br>
                (b) sell, rent or sub-license material from our website;<br>
                (c) show any material from our website in public;<br>
                (d) exploit material from our website for a commercial purpose; or<br>
                (e) redistribute material from our website.<br>
                3.6 Notwithstanding Section 3.5, you may redistribute our newsletter in print and electronic form to any person.<br>
                3.7 We reserve the right to suspend or restrict access to our website, to areas of our website, and/or to functionality upon our website. We may, for example, suspend access to the website during server maintenance or when we update the website. You must not circumvent or bypass, or attempt to circumvent or bypass, any access restriction measures on the website.</p>
                <h3>4. Feeds</h3>
                <p>4.1 You may access our RSS and Atom feeds using any compatible feed reader or aggregator.<br>
                4.2 By accessing our feeds, you accept these terms and conditions.<br>
                4.3 Subject to your acceptance of these terms and conditions, we grant to you a non-exclusive, non-transferable, non-sub-licensable licence to display content from our feeds in unmodified form on any non-commercial website owned and operated by you, providing that you must not aggregate any of our feed content with any third party feed when displaying it in accordance with this Section 4.3.<br>
                4.4 It is a condition of this licence that you include a credit for us and hyperlink to our website on each web page where our feed content is published (in such form as we may specify from time to time, or if we do not specify any particular form, in a reasonable form).<br>
                4.5 We may revoke any licence relating to our feeds or feed content at any time, with or without notice.</p>
                <h3>5. Social Media Platforms</h3>
                <p>5.1 Our website includes features that enable users to interact with social media platforms – including Facebook, Instagram, Twitter, YouTube, LinkedIn – directly from our website.<br>
                5.2 Using social media features on our website, you may:<br>
                (a) share data or content from our website; and<br>
                (b) like or upvote content from our website.<br>
                5.3 You acknowledge that the use of the social media platforms is subject to the terms and conditions of the relevant platform operator and that the use of any personal data transferred to the platforms is subject to the privacy policy or notice of the relevant platform operator.<br>
                5.4 Subject to Section 16.1, we will not be liable to you for any loss or damage arising out of:</p>
                <p>(a) your use of any social media platform; and<br>
                (b) any act or omission of any social media platform operator.<br>
                5.5 When using social media features on our website or browsing pages on our website that incorporate social media features, the social media platforms may collect information about you and your use of our website and those features, including by means of cookies. For more information about these cookies and the use of personal data collected by us and by the platforms, see our privacy and cookies policy.</p>
                <h3>6. News</h3>
                <p>6.1 Our website represents a range of different viewpoints, and particular articles published on our website may not reflect our own views and opinions.</p>
                <h3>7. Misuse Of Website</h3>
                <p>7.1 You must not:<br>
                (a) use our website in any way or take any action that causes, or may cause, damage to the website or impairment of the performance, availability, accessibility, integrity, or security of the website;<br>
                (b) use our website in any way that is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity;<br>
                (c) hack or otherwise tamper with our website;<br>
                (d) probe, scan or test the vulnerability of our website without our permission;<br>
                (e) circumvent any authentication or security systems or processes on or relating to our website;<br>
                (f) use our website to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or other malicious computer software;<br>
                (g) impose an unreasonably large load on our website resources (including bandwidth, storage capacity, and processing capacity);<br>
                (h) decrypt or decipher any communications sent by or to our website without our permission;<br>
                (i) conduct any systematic or automated data collection activities (including without limitation scraping, data mining, data extraction, and data harvesting) on or in relation to our website without our express written consent;<br>
                (j) access or otherwise interact with our website using any robot, spider or other automated means, except for the purpose of search engine indexing;<br>
                (k) use our website except by means of our public interfaces;<br>
                (l) violate the directives set out in the robots.txt file for our website;<br>
                (m) use data collected from our website for any direct marketing activity (including without limitation email marketing, SMS marketing, telemarketing and direct mailing); or<br>
                (n) do anything that interferes with the normal use of our website.<br>
                7.2 You must not use data collected from our website to contact individuals, companies or other persons or entities.<br>
                7.3 You must ensure that all the information you supply to us through our website, or in relation to our website, is true, accurate, current, complete, and non-misleading.</p>
                <h3>8 to 10. Registration, Accounts, Cancel and Refund</h3>
                <p>8.1 You may register for a subscription or hire us for help by completing and submitting the account registration form on our website. You may cancel at any time by contacting us. We offer 60 day money-back guarantee with our annual plans.</p>
               <h3>11. Comments Feature</h3>
                <p>11.1 Comments can be modified and edited by CyberCyld.com. If you want to remove your comments, please contact us.</p>
                <h3>12. Our Rights To Use Your Content</h3>
                <p>We may not use your content publicly unless a written acceptance has been provided.</p>
                <h3>13. Rules About Your Content</h3>
                <p>13.1 You warrant and represent that your content will comply with these terms and conditions.<br>
                13.2 Your content must not be illegal or unlawful, must not infringe any person’s legal rights, and must not be capable of giving rise to legal action against any person (in each case in any jurisdiction and under any applicable law).<br>
                13.3 Your content, and the use of your content by us in accordance with these terms and conditions, must not:<br>
                (a) be libelous or maliciously false;<br>
                (b) be obscene or indecent;<br>
                (c) infringe any copyright, moral right, database right, trade mark right, design right, right in passing off or other intellectual property right;<br>
                <span class="acss39187">(d) infringe any right of confidence, right of privacy or right under data protection legislation;<br>
                </span><span class="acss39187">(e) constitute negligent advice or contain any negligent statement;<br>
                </span>(f) constitute an incitement to commit a crime, instructions for the commission of a crime or the promotion of criminal activity;<br>
                (g) be in contempt of any court or in breach of any court order;<br>
                (h) be in breach of racial or religious hatred or discrimination legislation;<br>
                (i) be blasphemous;<br>
                (j) be in breach of official secrets legislation;<br>
                (k) be in breach of any contractual obligation owed to any person;<br>
                (l) depict violence in an explicit, graphic or gratuitous manner;<br>
                (m) be pornographic, lewd, suggestive or sexually explicit;<br>
                (n) be untrue, false, inaccurate or misleading;<br>
                (o) consist of or contain any instructions, advice or other information which may be acted upon and could, if acted upon, cause illness, injury or death, or any other loss or damage;<br>
                (p) constitute spam;<br>
                (q) be offensive, deceptive, fraudulent, threatening, abusive, harassing, anti-social, menacing, hateful, discriminatory or inflammatory; or<br>
                (r) cause annoyance, inconvenience or needless anxiety to any person.<br>
                13.4 Your content must be appropriate, civil and tasteful, and accord with generally accepted standards of etiquette and behaviour on the internet.<br>
                13.5 You must not use our website to link to any website or web page consisting of or containing material that would, were it posted on our website, breach the provisions of these terms and conditions.<br>
                13.6 You must not submit to our website any material that is or has ever been the subject of any threatened or actual legal proceedings or other similar complaint.</p>
                <h3>14. Report Abuse</h3>
                <p>14.1 If you learn of any unlawful material or activity on our website, or any material or activity that breaches these terms and conditions, please let us know.<br>
                14.2 You can let us know about any such material or activity by email.</p>
                <h3>15. Limited Warranties</h3>
                <p>15.1 We do not warrant or represent:<br>
                (a) the completeness or accuracy of the information published on our website;<br>
                (b) that the material on the website is up to date;</p>
                <p>(c) that the website will operate without fault; or<br>
                (d) that the website or any service on the website will remain available.<br>
                15.2 We reserve the right to discontinue or alter any or all of our website services, and to stop publishing our website, at any time in our sole discretion without notice or explanation; and save to the extent expressly provided otherwise in these terms and conditions, you will not be entitled to any compensation or other payment upon the discontinuance or alteration of any website services, or if we stop publishing the website.<br>
                15.3 To the maximum extent permitted by applicable law and subject to Section 16.1, we exclude all representations and warranties relating to the subject matter of these terms and conditions, our website and the use of our website.</p>
                <h3>16. Limitations And Exclusions Of Liability</h3>
                <p>16.1 Nothing in these terms and conditions will:<br>
                (a) limit or exclude any liability for death or personal injury resulting from negligence;<br>
                (b) limit or exclude any liability for fraud or fraudulent misrepresentation;<br>
                (c) limit any liabilities in any way that is not permitted under applicable law; or<br>
                (d) exclude any liabilities that may not be excluded under applicable law.<br>
                16.2 The limitations and exclusions of liability set out in this Section 16 and elsewhere in these terms and conditions:<br>
                (a) are subject to Section 16.1; and<br>
                (b) govern all liabilities arising under these terms and conditions or relating to the subject matter of these terms and conditions, including liabilities arising in contract, in tort (including negligence) and for breach of statutory duty, except to the extent expressly provided otherwise in these terms and conditions.<br>
                16.3 To the extent that our website and the information and services on our website are provided free of charge, we will not be liable for any loss or damage of any nature.<br>
                16.4 We will not be liable to you in respect of any losses arising out of any event or events beyond our reasonable control.<br>
                16.5 We will not be liable to you in respect of any business losses, including (without limitation) loss of or damage to profits, income, revenue, use, production, anticipated savings, business, contracts, commercial opportunities or goodwill.<br>
                16.6 We will not be liable to you in respect of any loss or corruption of any data, database or software.<br>
                16.7 We will not be liable to you in respect of any special, indirect or consequential loss or damage.<br>
                16.8 You accept that we have an interest in limiting the personal liability of our officers and employees and, having regard to that interest, you acknowledge that we are a limited liability entity; you agree that you will not bring any claim personally against our officers or employees in respect of any losses you suffer in connection with the website or these terms and conditions (this will not, of course, limit or exclude the liability of the limited liability entity itself for the acts and omissions of our officers and employees).</p>
                <h3>17. Indemnity</h3>
                <p>17.1 You hereby indemnify us, and undertake to keep us indemnified, against any and all losses, damages, costs, liabilities, and expenses (including without limitation legal expenses and any amounts paid by us to a third party in settlement of a claim or dispute) incurred or suffered by us and arising directly or indirectly out of your use of our website or any breach by you of any provision of these terms and conditions.</p>
                <h3>18. Breaches Of These Terms And Conditions</h3>
                <p>18.1 Without prejudice to our other rights under these terms and conditions, if you breach these terms and conditions in any way, or if we reasonably suspect that you have breached these terms and conditions in any way, we may:<br>
                (a) send you one or more formal warnings;<br>
                (b) temporarily suspend your access to our website;<br>
                (c) permanently prohibit you from accessing our website;<br>
                (d) block computers using your IP address from accessing our website;<br>
                (e) contact any or all of your internet service providers and request that they block your access to our website;<br>
                (f) commence legal action against you, whether for breach of contract or otherwise; and/or<br>
                (g) suspend or delete your account on our website.<br>
                18.2 Where we suspend or prohibit or block your access to our website or a part of our website, you must not take any action to circumvent such suspension or prohibition or blocking (including without limitation creating and/or using a different account).</p>
                <h3>19. Third Party Websites</h3>
                <p>19.1 Our website includes hyperlinks to other websites owned and operated by third parties; such hyperlinks are not recommendations.<br>
                19.2 We have no control over third party websites and their contents, and subject to Section 16.1 we accept no responsibility for them or for any loss or damage that may arise from your use of them.</p>
                <h3>20. Variation</h3>
                <p>20.1 We may revise these terms and conditions from time to time.<br>
                20.2 The revised terms and conditions shall apply to the use of our website from the date of publication of the revised terms and conditions on the website, and you hereby waive any right you may otherwise have to be notified of, or to consent to, revisions of these terms and conditions.<br>
                20.3 If you have given your express agreement to these terms and conditions, we will ask for your express agreement to any revision of these terms and conditions; and if you do not give your express agreement to the revised terms and conditions within such period as we may specify, we will disable or delete your account on the website, and you must stop using the website.</p>
                <h3>21. Assignment</h3>
                <p>21.1 You hereby agree that we may assign, transfer, sub-contract or otherwise deal with our rights and/or obligations under these terms and conditions.<br>
                21.2 You may not without our prior written consent assign, transfer, sub-contract or otherwise deal with any of your rights and/or obligations under these terms and conditions.</p>
                <h3>22. Severability</h3>
                <p>22.1 If a provision of these terms and conditions is determined by any court or other competent authority to be unlawful and/or unenforceable, the other provisions will continue in effect.<br>
                22.2 If any unlawful and/or unenforceable provision of these terms and conditions would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision will continue in effect.<br>
                23. Third party rights<br>
                23.1 A contract under these terms and conditions is for our benefit and your benefit and is not intended to benefit or be enforceable by any third party.<br>
                23.2 The exercise of the parties’ rights under a contract under these terms and conditions is not subject to the consent of any third party.</p>
                <h3>24. Entire Agreement</h3>
                <p>24.1 Subject to Section 16.1, these terms and conditions, together with our privacy and cookies policy, shall constitute the entire agreement between you and us in relation to your use of our website and shall supersede all previous agreements between you and us in relation to your use of our website.</p>
                <h3>25. Law And Jurisdiction</h3>
                <p>25.1 These terms and conditions shall be governed by and construed in accordance with Indian Law.<br>
                25.2 Any disputes relating to these terms and conditions shall be subject to the exclusive jurisdiction of the courts of India.</p>
                <h3>27. Our Details</h3>
                <p>27.1 This website is owned and operated by AppTwig Pvt. Ltd.<br>
                27.2 You can contact us:</p>
                <p>(a) by post, to the postal address given above;<br>
                (b) by telephone, on the contact number published on our website; or<br>
                (c) by email, using the email address published on our website.</p>
                </div>
                </article>
              </div><!-- End post list item -->

              </div><!-- End post list item -->
            </div><!-- End blog posts list -->
          </div>
        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->

<!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h4>CyberCyld- by AppTwig Pvt. Ltd. </h4>
              <p>
                D-322, ITTINA ABHA, Banglore-560037<br><br>
                <strong>Email:</strong> alert@cybercyld.com<br>
              </p>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="/terms-of-use">Terms of service</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/policy">Privacy policy</a></li>
              <!-- <li><i class="bi bi-chevron-right"></i> <a href="/careers">Careers</a></li> -->
              <li><i class="bi bi-chevron-right"></i> <a href="/contacts">Contact us</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> Cyber Expert Help </li>
              <li><i class="bi bi-chevron-right"></i> Online Safety and Security </li>
              <li><i class="bi bi-chevron-right"></i> Account Monitoring and Notification </li>
              <li><i class="bi bi-chevron-right"></i> Cyber Fraud Protection </li>

            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="footer-legal text-center">
      <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">

        <div class="d-flex flex-column align-items-center align-items-lg-start">
          <div class="copyright">
            © Copyright <strong><span>Apptwig Pvt. Ltd. </span></strong> All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/herobiz-bootstrap-business-template/ -->
            Designed by <a href="https://cybercyld.com/">CyberCyld</a>
          </div>
        </div>

        <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
          <a href="https://twitter.com/home" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="https://www.facebook.com/profile.php?id=100088078479457" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/cybercyld/" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="https://www.youtube.com/channel/UCI4-0jfOVGoMfY9Ub18NcBA" class="YouTube"><i class="bi bi-youtube"></i></a>
          <a href="https://www.linkedin.com/in/cyber-cyld-4b68b0257/" class="LinkedIn"><i class="bi bi-linkedin"></i></a>
        </div>


      </div>
    </div>

  </footer>
  
  
  <!-- End Footer -->

  
  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <!-- Vendor JS Files -->
  <script src="./../public/assetss/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="./../public/assetss/vendor/aos/aos.js"></script>
  <script src="./../public/assetss/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="./../public/assetss/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="./../public/assetss/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="./../public/assetss/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="./../public/assetss/js/main.js"></script>
<script src="//code.tidio.co/ccn0ykidaz9jq0lfzbkfiv7pzvliefnk.js" async></script>
</body>

</html>